<div class="friendListContainer">
  <div class="contentContainer">
    <h1>Friend List</h1>
    <div class="addFriend">
      <mat-form-field class="input">
        <mat-label>Friend name</mat-label>
        <input
          matInput
          [(ngModel)]="this.username"
          (ngModelChange)="setUsername($event)"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="addFriendUser(this.username)"
      >
        Add Friend
      </button>
    </div>
    <div
      class="friendCardContainer"
      id="friendList"
      *ngFor="let element of list"
    >
      <app-friend-card name="{{ element }}"></app-friend-card>
    </div>
  </div>
</div>
<app-logout-button />
